# Team Pandas Dataframe

In [1]:
# imports

import pandas as pd
import numpy as np

---

### Kombat 1: How to create a series from a list, numpy array and dict?

Create a pandas series from each of the items below: a list, numpy and a dictionary

In [2]:
# Input

mylist = list('fghij')
myarr = np.arange(5,10)
mydict = dict(zip(mylist, myarr))

In [3]:
#Fight

mylistserie = pd.Series(mylist)
myarrserie = pd.Series(myarr)
mydictserie = pd.Series(mydict)

In [4]:
# Output

print(mylistserie)
print(myarrserie)
print(mydictserie)

0    f
1    g
2    h
3    i
4    j
dtype: object
0    5
1    6
2    7
3    8
4    9
dtype: int64
f    5
g    6
h    7
i    8
j    9
dtype: int64

---

### Kombat 2: How to combine many series to form a dataframe?

Combine ser1 and ser2 to form a dataframe.

In [5]:
# Input

ser1 = pd.Series(list('klmnopqrst'))
ser2 = pd.Series(np.arange(10))

In [6]:
#Fight

df = pd.concat([ser1, ser2], axis=1)

In [7]:
# Output

df

   0  1
0  k  0
1  l  1
2  m  2
3  n  3
4  o  4
5  p  5
6  q  6
7  r  7
8  s  8
9  t  9

---

### Kombat 3: How to get the items not common to both series A and series B?

Get all items of ser1 and ser2 not common to both.

In [8]:
# Input

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [10]:
#Fight

notcommon1 = list(ser1[ser1.isin(ser2)==False])
notcommontoboth = notcommon1.append(ser2[ser2.isin(ser1)==False])

In [11]:
# Output

notcommontoboth

---

### Kombat 4: How to extract items at given positions from a series

From ser, extract the items at positions in list pos.

In [12]:
# Input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [13]:
# Fight

items = ser[pos]

In [14]:
# Output

items

0     a
4     e
8     i
14    o
20    u
dtype: object

---

### Kombat 5: How to create a TimeSeries starting ‘2022-01-01’ and 10 weekends (saturdays) after that, having random numbers as values?

In [15]:
# Input

time_series = pd.Series(np.random.randint(1, 10, 10))

In [16]:
#Fight

time_series = pd.Series(np.random.randint(1, 10, 10),  pd.date_range('2022-01-01', periods = 10, freq = 'W-SAT'))

In [17]:
# Output

time_series

2022-01-01    5
2022-01-08    7
2022-01-15    1
2022-01-22    8
2022-01-29    9
2022-02-05    7
2022-02-12    3
2022-02-19    5
2022-02-26    4
2022-03-05    9
Freq: W-SAT, dtype: int64

---

### Kombat 6: How to import only every nth row from a csv file to create a dataframe?

Import every 50th row of BostonHousing dataset as a dataframe.

In [18]:
# Input

url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
df = pd.read_csv(url, chunksize=50)

In [19]:
# Fight

df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])

AttributeError: 'DataFrame' object has no attribute 'append'

In [20]:
# Output

df2

Empty DataFrame
Columns: []
Index: []

---

### Kombat 7: How to import only specified columns from a csv file?

Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

In [21]:
# Input

df = pd.read_csv(url)

In [22]:
# Fight 

df = pd.read_csv(url, usecols = ['crim', 'medv'])

In [23]:
# Output 

df

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

---

### Kombat 8: How to slice a DataFrame by column value?

Get every Ford car with a Horsepower greater than 100 from the Cars93 dataset.

In [24]:
# Input

url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'

In [25]:
# Fight

df = pd.read_csv(url)
ford = df[(df['Manufacturer'] == 'Ford') & (df['Horsepower'] > 100)]

In [26]:
# Output

ford

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
31,Ford,Escort,Small,8.4,10.1,11.9,23.0,30.0,NaN,Front,...,5.0,171.0,98.0,67.0,36.0,28.0,12.0,2530.0,USA,Ford Escort
33,Ford,Mustang,Sporty,10.8,15.9,21.0,22.0,29.0,Driver only,Rear,...,4.0,180.0,101.0,68.0,40.0,24.0,12.0,NaN,USA,Ford Mustang
34,Ford,Probe,Sporty,12.8,14.0,15.2,NaN,30.0,Driver only,Front,...,4.0,179.0,103.0,70.0,38.0,23.0,18.0,2710.0,USA,Ford Probe
35,Ford,Aerostar,Van,14.5,19.9,25.3,15.0,20.0,Driver only,4WD,...,7.0,176.0,119.0,72.0,45.0,30.0,NaN,3735.0,USA,Ford Aerostar
37,Ford,Crown_Victoria,Large,20.1,20.9,21.7,18.0,26.0,Driver only,Rear,...,6.0,212.0,114.0,78.0,43.0,30.0,21.0,3950.0,USA,Ford Crown_Victoria

---

# FINISH HIM!!!