

# Pandas Kombat

---

__- 2 teams radomly selected__

__- Each team must name a Capitan. The Capitan is responsible for the strategy (e.g.: suggest a Power) and will provide the computer__

__- 8 challenges in each stream__

__- Every member of each team must have at least a kombat__

__- Every team have 3 powers that they may use during the tournament__ (You can use max 1 power per Kombat)

__- The use of ChatGPT is NOT allowed__

![Image](./img/pandas_kombat.jpg)

---

### The Powers

- `Switching Power` You must switch the Kombat with the other team.

- `Team Power` You can ask help to one member of your team. This member can be neither a former fighter nor the Capitan.

- `Capitulation Power` You can quit and your team will go to the next Kombat. You can only activate this power if the other team already finished the Kombat they started after yours. You may agree with the other team to do it simultanously but not consecutively. Your team won't get the point.

- `Moha's Power` The other team can't use Internet until you finish your Kombat.

---

# IMPORTANT: Everybody must fight every kombat!!!

---

In [1]:
import random
import time
import pandas as pd

In [2]:
# Fighters

fighters = ['John',
            'Carlos', 
            'Tomás', 
            'Sil', 
            'Ana', 
            'Elena', 
            'Silvia', 
            'Tere', 
            'Rodrigo', 
            'Andrew',
            'Alana',
            'Guille',
            'Natalia',
            'Alberto']

In [3]:
len(fighters)

14

In [4]:
# Let's pick random
random.shuffle(fighters)
len(fighters)

14

In [5]:
# Team Pandas Series
team_series = fighters[:len(fighters)//2]
for fighter in team_series:
    time.sleep(3)
    print(fighter)

Ana
Alberto
John
Natalia
Carlos
Elena
Alana

In [6]:
# Team Pandas Dataframe
team_series = fighters[len(fighters)//2:]
for fighter in team_series:
    time.sleep(3)
    print(fighter)

Rodrigo
Tere
Guille
Silvia
Sil
Tomás
Andrew

---

In [7]:
standings = pd.DataFrame({'Team Pandas Series Warrior':['Alberto',
                                                        'Alana',
                                                        'John',
                                                        'Tere',
                                                        'Ana',
                                                        'Tomás',
                                                        'Alberto',
                                                        'NO PRESENTADO'],
                          'Team Pandas Series':[0,0,0,1,0,0,0,0],
                          'Team Pandas Series Time':['10:10','10:20','10:30','10:38','10:45','11:00','11:00','11:00'],
                          'Team Pandas Dataframe Warrior':['Natalia',
                                                           'Sil',
                                                           'Andrew',
                                                           'Guille',
                                                           'Rodrigo',
                                                           'Silvia',
                                                           'Carlos',
                                                           'CAPITULATION'],
                          'Team Pandas Dataframe':[0,1,0,1,0,0,1,0],
                          'Team Pandas Dataframe Time':['10:10','10:20','10:30','10:38','10:45','11:00','11:00','11:00']})

In [8]:
print('Pandas Kombat Start Time: 10:00')
print('Team Pandas Series Total Points: {}'.format(standings['Team Pandas Series'].sum()))
print('Team Pandas Dataframe Total Points: {}'.format(standings['Team Pandas Dataframe'].sum()))
standings

Pandas Kombat Start Time: 10:00
Team Pandas Series Total Points: 1
Team Pandas Dataframe Total Points: 3

,Team Pandas Series Warrior,Team Pandas Series,Team Pandas Series Time,Team Pandas Dataframe Warrior,Team Pandas Dataframe,Team Pandas Dataframe Time
0,Alberto,0,10:10,Natalia,0,10:10
1,Alana,0,10:20,Sil,1,10:20
2,John,0,10:30,Andrew,0,10:30
3,Tere,1,10:38,Guille,1,10:38
4,Ana,0,10:45,Rodrigo,0,10:45
5,Tomás,0,11:00,Silvia,0,11:00
6,Alberto,0,11:00,Carlos,1,11:00
7,NO PRESENTADO,0,11:00,CAPITULATION,0,11:00

---